:root {
  /* font-family */
  --font--noto: "Noto Sans KR", sans-serif;
  --font--mont: "Montserrat", sans-serif;
}
.ally--hidden {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.section {
  width: 100%;
  /* margin-top: 130px; */
  padding: 0 15px;
}
/* btn common */
/* portfolio, news title */
